{% extends "backoffice_Promotion.html.twig" %}
{% block body %}
    <!DOCTYPE html>
    <html>
    <body>
    <center>
        </br></br></br></br>
        <form method="post">
        <table id="customers">
            <tr>
                <th>ID Promotion</th>
                <th>Promotion</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>


                <tr>
                    <td><input type="text" name="id" value=" {{ modele.id }}" disabled></td>

                    <td> <input type="text" name="promo" value="{{ modele.promo }} "></td>
                    <td><button type="submit">save</button></td>
                    <td> <a href="{{ path('supprimerP',{id:modele.id}) }}">Supprimer</a></td>
                </tr>

        </table>
    </center>
    </form>
    </body>
    </html>
{% endblock %}